/* ~~ Search table ~~ */

.search-table{  width: 47.3%;
     margin-left: auto;
      margin-right:auto;
border:solid 0.1px black;
   text-align: left;
  padding:10px;
   overflow: hidden;
}

.search-table input[type=text]{  
  margin: 0px  0px 5px 0px;
}

.search-table .search-variable{  

  color: #663366;
   font-size: 15px;
 float:left;
}

.search-table .title {  

  color: #663366;
   font-size: 15px;

}
.search-table label{  
  color: black;
   font-size: 12px;
  width:10%;

}

.search-table input[type=checkbox]{  
  margin: 0px  0px 0px 0px;
    
}

/* ~~ misc ~~ */

.refined-search-options{
    border: solid 2px black;

}

.refined-search-option a{
  color: #e5007d;
   font-size: 12px;

}

.center {  text-align: center;}

.pagination li {
  display:inline-block;
  padding:5px;
   
}


.hidden {
    display : none;
}

/* ~~ project list ~~ */

.projectlist {
  
  width: 50%;
     margin-left: auto;
      margin-right:auto;
   list-style-type: none;
}
.projectlist ul{

   list-style-type: none;

}

.projectlist li{

  height: 140px;
padding:10px;

}
.projectlist img{
    float:left;
   width: 30%;
height: 140px;

}

.projectlist .info{

      width: 68%;
     margin-left: auto;

}

.projectlist p{

  margin:0;
    padding-top:7px;
}

.projectlist h2{
    color: #663366;
margin:0;

    padding-bottom:7px;
  font-size: 18px;
  line-height: 0;
}

.projectlist .readmore{
    color: blue;
   text-decoration: underline;
   
    
}
.projectlist .tag{
 
   text-decoration: underline;

}

.projectlist .tagcontainer{







 
    float: left;
    font-size: 10px;
}
/* ~~ Running projects ~~ */

.container {
 width: 75%;
     margin-left: auto;
      margin-right:auto;

}
.container ul {
    padding: 0; 
    margin: 0;
    list-style-type: none;
}
.container ul li {
    width: 33%;
    height: 250px;

    float: left;
}



.homedisplay {
    position: relative;
    text-align: center;
    color: white;
  
  width: 90%;
     margin-left: auto;
      margin-right:auto;
   top: 5%;
    margin-top: auto;
      margin-bottom:auto;
}

.homedisplay p{
  
 position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  opacity: 1;
}

.homedisplay div{
  top: 70%;
  height:30%;
 position: absolute;

 opacity: 0.8;
width:100%;

   background-color: #663366;

 
}

.homedisplay img{width:100%; height:100%;}

* {
  font-family: Arial Narrow;
}

h1 {

    color: #663366;
     text-align:center;
  font-size: 20px;
  

}

body {
  margin: 0;
  padding: 0;
}

.logo {
  float: left;
}

#divLoginForm {
width: 400px; margin-left: auto; margin-right:auto;
  
}

.divMainContent {

    width: 75%;
     margin-left: auto;
      margin-right:auto;
}


   /*form  { display: table;      }
   p     { display: table-row;  }
   label { display: table-cell; }
   input { display: table-cell; }*/


#divMainContentInner {

    width: 75%;
     margin-left: auto;
      margin-right:auto;
}
/* ~~ Default Navigation Bar ~~ */

#navigation-container {
  width: 1200px;
  margin: 0 auto;
  height: 90px;
}

.navigation-bar {
  background-color: #663366;
  height: 80px;
  width: 100%;
  text-align:right;
  
}
.navigation-bar img{
float:left;
    padding-top: 15px;
  
}
.navigation-bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
}

.navigation-bar li {
  display: inline;
}

.navigation-bar li a {
  color: white;
  font-size: 12px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-decoration: none;
  line-height: 80px;
  padding: 5px 15px;

}

#menu {
  float: right;
}



/* ~~ User Navigation Bar ~~ */


.user-navigation-bar {
  background-color: #0076e0;
  height: 40px;
  width: 100%;
  text-align:right;
  
}

.user-navigation-bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
}

.user-navigation-bar li {
  display: inline;
}

.user-navigation-bar a {
  color: white;
  font-size: 12px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-decoration: none;
  line-height: 40px;
  padding: 5px 15px;

}

/* ~~ Lector Toolmenu ~~ */

#primary_nav_wrap
{

}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:right;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	color:white;
	text-decoration:none;

	font-size:12px;
	line-height:32px;
	padding:0 15px;

}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}



#primary_nav_wrap ul li:hover
{
	background:#0076e0;

}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#0076e0;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}
